[project]
	description = "A website for a friend's game store.  I'm writing it in Go, using a Dart UI library for the frontend.  Why?  Because I can."
[access "refs/*"]
	owner = group user/nelsam (nelsam)
[access "refs/for/refs/*"]
	read = group user/nelsam (nelsam)
	push = group user/nelsam (nelsam)
	label-Code-Review = -2..+2 group user/nelsam (nelsam)
	label-Verified = -1..+1 group user/nelsam (nelsam)
	rebase = group user/nelsam (nelsam)
	removeReviewer = group user/nelsam (nelsam)
	submit = group user/nelsam (nelsam)
[access "refs/heads/*"]
	read = group user/nelsam (nelsam)
	create = group user/nelsam (nelsam)
	push = +force group user/nelsam (nelsam)
	pushMerge = group user/nelsam (nelsam)
[access "refs/tags/*"]
	push = +force group user/nelsam (nelsam)
	pushTag = group user/nelsam (nelsam)
	pushSignedTag = group user/nelsam (nelsam)
